<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/distinct/ds/linked_lists.js') }}"></script>
<!--This jumps straight into a div(#content) with the class .container -->
<div id="container-visualisation-linked_lists" class="row height-100">
	<div class= "text-center visualisation-space col-sm-5 col-md-5">
		Visualisation
	</div>
	<div class= "text-center controls-space col-sm-7 col-md-7">
		<div class="row visual-description">
			<h4>A Music Playlist</h4>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
		</div>
		<div class="row">
			<ul class="list-unstyled col-md-6 col-sm-6">
				<li><button id="btn_linked_lists_last" class="btn waves-effect waves-teal"><b>last()</b> <i>(skip to last)</i></button></li>
				<li><button id="btn_linked_lists_addfirst" class="btn waves-effect waves-teal"><b>addFirst()</b> <i>(add best track)</i></button></li>
				<li><button id="btn_linked_lists_addlast" class="btn waves-effect waves-teal"><b>addLast()</b> <i>(add worst track)</i></button></li>
				<li><button id="btn_linked_lists_new" class="btn waves-effect waves-teal"><b>newLinkedList()</b> <i>(clear playlist)</i></button></li>
			</ul>
			<ul class="list-unstyled col-md-6 col-sm-6">
				<li><button id="btn_linked_lists_first" class="btn waves-effect waves-teal"><b>first()</b> <i>(skip to first)</i></button></li>
				<li><button id="btn_linked_lists_size" class="btn waves-effect waves-teal"><b>size()</b> <i>(no. of tracks)</i> </button></li>
				<li><button id="btn_linked_lists_isempty" class="btn waves-effect waves-teal"><b>isEmpty()</b> <i>(no tracks?)</i></button></li>
				<li><button id="btn_linked_lists_removefirst" class="btn waves-effect waves-teal"><b>removeFirst()</b> <i>(remove best track)</i></button></li>
			</ul>
		</div>
	</div>
</div>

<!--This jumps straight into a div(#content) with the class .container -->
<div class="my-row container-summary-linked_lists row">
	<div id="intro" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>A little literature...</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
	<div id="intro-ds" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Main Applications</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
</div>

<div class="container-summary-linked_lists my-row row">
	<div id="about" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Advantages</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
	<div id="the-team" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Drawbacks</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
</div>