<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/distinct/ds/queues.js') }}"></script>
<!--This jumps straight into a div(#content) with the class .container -->
<div id="container-visualisation-queues" class="row height-100">
	<div class= "text-center visualisation-space col-sm-5 col-md-5">
		Visualisation
	</div>
	<div class= "text-center controls-space col-sm-7 col-md-7">
		<div class="row visual-description">
			<h4>A Video Streaming Application</h4>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
		</div>
		<div class="row">
			<ul class="list-unstyled col-md-6 col-sm-6">
				<li><button id="btn_queues_new" class="btn waves-effect waves-teal"><b>newQueue()</b> <i>(clear buffer)</i></button></li>
				<li><button id="btn_queues_enqueue" class="btn waves-effect waves-teal"><b>enqueue()</b> <i>(get, buffer frame)</i></button></li>
				<li><button id="btn_queues_dequeue" class="btn waves-effect waves-teal"><b>dequeue()</b> <i>(debuffer, play frame)</i></button></li>
			</ul>
			<ul class="list-unstyled col-md-6 col-sm-6">
				<li><button id="btn_queues_size" class="btn waves-effect waves-teal"><b>size()</b> <i>(buffer size)</i> </button></li>
				<li><button id="btn_queues_first" class="btn waves-effect waves-teal"><b>first()</b> <i>(first frame)</i></button></li>
				<li><button id="btn_queues_isempty" class="btn waves-effect waves-teal"><b>isEmpty()</b> <i>(no frames left?)</i></button></li>
			</ul>
		</div>
	</div>
</div>

<!--This jumps straight into a div(#content) with the class .container -->
<div class="my-row container-summary-queues row">
	<div id="intro" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Queues</h5>
				</div>
				<p>
					 Queues are related to ordered lists. With the queue, the new pieces of data are placed at the rear of the data structure, and the deletions are done at the front. The first piece of data entered into the data structure is the first piece removed from the structure. Queues can be compared to lines at the store, where the first person in line is the first person to receive a service.
					 While queues are more complex than stacks, the array makes queues easy by placing the newest element at the end and moving each element over one step when one piece of data is removed from the queue.
				</p>
			</div>
		</div>
	</div>
	<div id="intro-ds" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Main Applications</h5>
				</div>
				<p>Queues are a useful representation of problems for different applications.
					 For example, jobs to a network printer is enqueued so that the earlier a job is submitted the earlier it will be printed. Breadth first searches use queues.
					 When a resource is shared among multiple consumers. Examples include CPU scheduling, Disk Scheduling.
					 When data is transferred asynchronously (data not necessarily received at same rate as sent) between two processes. Examples include IO Buffers, pipes, file IO, etc.
					 In real life scenario, Call Center phone systems uses Queues to hold people calling them in an order, until a service representative is free.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container-summary-queues my-row row">
	<div id="about" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Advantages</h5>
				</div>
				Data queues are a fast method of inter-process communication. Data queues free up jobs from performing some work, which can lead to a better response time and an overall improvement in system performance.
				Data queues serve as the fastest form of asynchronous communication between two different tasks, since there is less overhead than with database files and data areas.The main advantages is that adding or removing elements can be done quickly and efficiently because you would just add elements to the end of the queue or remove them from the front of the queue.
			</div>
		</div>
	</div>
	<div id="the-team" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Drawbacks</h5>
				</div>
				<p>The main disadvantages is that a queue is not readily searchable (sure there are hacks around it but it is not supposed to be searchable) and adding or removing elements from the middle of the queue is very complex (again it is not MEANT to allow elements to be removed from the middle).
					Queues are very democratic in that the first item in the queue gets processed first - FIFO. This is NOT what is wanted in all cases. Think of the Emergency Department in a hospital. It's not FIFO - it's who needs treatment first.
					In queues there is a fixed entry point and a fixed exit point.
					Since structures are heavily used in sorting, searching and indexing these kind of restriction increases the time and space requirements of the algorithm.
				</ul>
			</div>
		</div>
	</div>
</div>
