<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/distinct/ds/trees.js') }}"></script>
<!--This jumps straight into a div(#content) with the class .container -->
<div id="container-visualisation-trees" class="row height-100">
	<div class= "text-center visualisation-space col-sm-5 col-md-5">
		Visualisation
	</div>
	<div class= "text-center controls-space col-sm-7 col-md-7">
		<div class="row visual-description">
			<h4>A Spell Checker/Digital Dictionary</h4>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
		</div>
		<div class="row">
			<ul class="list-unstyled col-md-6 col-sm-6">
				<li><button id="btn_trees_get_element" class="btn waves-effect waves-teal"><b>getElement()</b> <i>(check letter)</i></button></li>
				<li><button id="btn_trees_root" class="btn waves-effect waves-teal"><b>root()</b> <i>(get first letters)</i></button></li>
				<li><button id="btn_trees_parent" class="btn waves-effect waves-teal"><b>parent()</b> <i>(get previous letter)</i></button></li>
				<li><button id="btn_trees_children" class="btn waves-effect waves-teal"><b>children()</b> <i>(get possible next letters)</i></button></li>
				<li><button id="btn_trees_num_children" class="btn waves-effect waves-teal"><b>numChildren()</b> <i>( next letter count)</i></button></li>
			</ul>
			<ul class="list-unstyled col-md-6 col-sm-6">
				<li><button id="btn_trees_size" class="btn waves-effect waves-teal"><b>size()</b> <i>(Number of letters?)</i></button></li>
				<li><button id="btn_trees_empty" class="btn waves-effect waves-teal"><b>isEmpty?()</b> <i>(dictionary empty?)</i></button></li>
				<li><button id="btn_trees_num_iterator" class="btn waves-effect waves-teal"><b>iterator()</b> <i>( next letter count)</i></button></li>
				<li><button id="btn_trees_positions" class="btn waves-effect waves-teal"><b>positions()</b> <i>(get letters)</i></button></li>
				<li><button id="btn_trees_is_root" class="btn waves-effect waves-teal"><b>isRoot()</b> <i>(first letter?)</i></button></li>
			</ul>
		</div>
	</div>
</div>

<!--This jumps straight into a div(#content) with the class .container -->
<div class="my-row container-summary-trees row">
	<div id="intro" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>A little literature...</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
	<div id="intro-ds" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Main Applications</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
</div>

<div class="container-summary-trees my-row row">
	<div id="about" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Advantages</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
	<div id="the-team" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Drawbacks</h5>
				</div>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
				<p>lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</div>
		</div>
	</div>
</div>