body{
	width: 100%;
	height: 100%;
	background: #F8F8F8;
}

#nav{
	padding: 0px;
	margin: 0px;
	padding-top: 12px;
}

#navi{
	margin: 0px;
	padding: 0px;
	/*max-height: 60px;*/
}

.navbar{
	margin-bottom: 0px;
}

.container-no-padding{
	margin-left: 0px;
	padding-left: 3%;
	margin-right: 0px;
	padding-right: 0px;
}

#content{
	height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
	overflow-x: hidden; /* Disable horizontal scroll */
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 16px 40px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 15px;
    color: #000000;
    display: block;
    transition: 0.3s;
    border-top: 1px solid #80CBC4;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus, .expandable-list li:hover{
    background: #80CBC4;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}

#bio{
	background: blue;
	height: 150px;
	padding-top: 100px;
	white-space: nowrap;
	text-align: center;
}

#maze{
	height: 100px;
	width: 50px;
}

.expandable-list{
	list-style: none;
	font-size: 16px;
}

.expandable-list li{
	border-left: 1px solid black;
	padding: 8px 20px;
	font-size: 10px;
}

#search-icon{
	margin-right: 3px;
	margin-top: 1px;
	margin-bottom: 2px;
	padding: 0px;
}

#fab1{
	position: absolute;
	right: 20px;
	bottom: 20px;
}

#fab2{
	position: absolute;
	right: 20px;
	bottom: 85px;
}

#fab3{
	position: absolute;
	right: 20px;
	bottom: 150px;
}

#drawer-icon{
	margin-top: 1px;
	margin-left: 5px;
}

#closeDrawer{
	padding: 0px;
}

#closeDrawer:hover{
	border-radius: 50%;
	padding: 1px 16px;
}

.nav-icon:hover{
	border-radius: 50%;
	background: #80CBC4;
	padding: 16px 0px;
	vertical-align: middle;
}

#name1{
	position: absolute;
	right: 80px;
	bottom: 20px !important;
}

#name2{
	position: absolute;
	right: 80px;
	bottom: 85px !important;
}

#name3{
	position: absolute;
	right: 80px;
	bottom: 150px !important;
}

#name4{
	position: relative;
	top: -6px;
	left: 38%;
	max-width: 145px;
	text-align: center;
}

#name5{
	position: relative;
	top: -6px;
	left: 45%;
	max-width: 145px;
	text-align: center;
}

.toast-n {
  border-radius: 2px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  white-space: nowrap;
  line-height: 1.5em;
  word-break: break-all;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.names{
	height: 20px;
	display: none;
	border-radius: 25px;
}

#serach-box{
	width: 20px;
}