<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/distinct/cp/recursion.js') }}"></script>
<!--This jumps straight into a div(#content) with the class .container -->
<div id="container-visualisation-recursion" class="row height-100">
	<div class= "text-center visualisation-space col-sm-7 col-md-7">
		<h4 class="row">Visualisation</h4>
		<!-- (div.row>(span.col-sm-4.col-md-4.recursion-element)*3)*4		 -->
		<div class="row">
				<span class="col-sm-3 col-md-3 recursion-element"></span>
				<span class="col-sm-6 col-md-6 recursion-element">Root DNS Server
					<br>
					<img src="{{ url_for('static', filename = 'img/server.png') }}" alt="Server">
					<span id="animation_10" class="payload">DNS</span>
				</span>
				<span class="col-sm-3 col-md-3 recursion-element"></span>
			</div>
		<div class="row">
				<span class="col-sm-1 col-md-1 recursion-element"></span>
				<span class="col-sm-3 col-md-3 recursion-element">Local DNS Server
					<br>
					<img src="{{ url_for('static', filename = 'img/server.png') }}" alt="Server">
					<span id="animation_7" class="payload">DNS</span>
				</span>
				<span class="col-sm-4 col-md-4 recursion-element"></span>
				<span class="col-sm-3 col-md-3 recursion-element">TLD DNS Server<br>
					<img src="{{ url_for('static', filename = 'img/server.png') }}" alt="Server">
					<span id="animation_13" class="payload">DNS</span>
				</span>
				<span class="col-sm-1 col-md-1 recursion-element"></span>
			</div>
		<div class="row">
			<span class="col-sm-1 col-md-1 recursion-element"></span>
			<span class="col-sm-3 col-md-3 recursion-element">Requesting Host
				<br>
				<img src="{{ url_for('static', filename = 'img/computer.png') }}" alt="Server">
				<span id="animation_4" class="payload">DNS</span>
			</span>
			<span class="col-sm-4 col-md-4 recursion-element"></span>
			<span class="col-sm-3 col-md-3 recursion-element">Authoritative Name Server
				<br>
				<img src="{{ url_for('static', filename = 'img/server.png') }}" alt="Server">
				<span id="animation_14" class="payload">DNS</span>
			</span>
			<span class="col-sm-1 col-md-1 recursion-element"></span>
		</div>
	</div>
	<div class= "text-center controls-space col-sm-5 col-md-5">
		<div class="row visual-description">
			<h4>DNS Name Resolution</h4>
			<p>An excellent illustration of the use of recursion is during domain name:ip resolution. <br>
			A user's device makes a DNS request to servers which perform a simple recursive procedure: <br>
			Check if I have the mapping, if I do not, request for it and then return it.</p>
		</div>
		<div class="row">
			<ul class="list-unstyled">
				<li><button id="btn_recursion_next" class="btn waves-effect waves-teal"><b>next()</b> <i>(do action)</i></button></li>
				<li>
					<span id="recursion_play" class="faby card-1 btn waves-effect waves-teal btn-floating btn-large"><img src="{{ url_for('static', filename = 'img/play.png') }}" alt="Play"></span>
					<span id="recursion_pause" class="faby card-1 btn waves-effect waves-teal btn-floating btn-large"><img src="{{ url_for('static', filename = 'img/stop.png') }}" alt="Pause"></span>
					<span id="recursion_restart" class="faby card-1 btn waves-effect waves-teal btn-floating btn-large"><img src="{{ url_for('static', filename = 'img/replay.png') }}" alt="Restart"></span>
				</li>
				<li>
					<span id="name_play" class="names toast-n teal lighten-1">Play</span>
					<span id="name_pause" class="names toast-n teal lighten-1">Pause</span>
					<span id="name_restart" class="names toast-n teal lighten-1">Restart</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<!--This jumps straight into a div(#content) with the class .container -->
<div class="my-row container-summary-recursion row">
	<div id="intro" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>A little literature...</h5>
				</div>
				<p>Recursion in computer science is a method where the solution to a problem depends on solutions to smaller instances of the same problem (as opposed to iteration). The approach can be applied to many types of problems, and recursion is one of the central ideas of computer science.</p>
			</div>
		</div>
	</div>
	<div id="intro-ds" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Main Applications</h5>
				</div>
				<p>The concept has wide application in computer science, including being used to deine data structures, like trees and in implementing divide and conquer style agorithms like merge sort.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-summary-recursion my-row row">
	<div id="about" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Advantages</h5>
				</div>
				<p>Can easily be applied to an arbitrary size of data. Recursice algorithms are also often very elegant compared to their iterartive counter parts.</p>
			</div>
		</div>
	</div>
	<div id="the-team" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Drawbacks</h5>
				</div>
				<p>Poor implementation of recursion may lead to issues like infinite recuresion and multiple calculation of the same result needed in multpile calls.</p>
			</div>
		</div>
	</div>
</div>