<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/distinct/sort/selection_sort.js') }}"></script>
<!--This jumps straight into a div(#content) with the class .container -->
<div id="container-visualisation-selection_sort" class="row height-100">
	<div class= "text-center visualisation-space col-sm-5 col-md-5">
		<img type="img/gif" src="{{ url_for('static', filename = 'img/selection_sort.gif') }}" alt="Selction Sort Simulation">
	</div>
</div>

<!--This jumps straight into a div(#content) with the class .container -->
<div class="my-row container-summary-selection_sort row">
	<div id="intro" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Selection Sort</h5>
				</div>
				<p>
				The selection sort works by repeatedly going through the list of items,
				each time selecting an item according to its ordering and placing it in the correct position in the sequence.
				</p>
			</div>
		</div>
	</div>
	<div id="intro-ds" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Main Applications</h5>
				</div>
				<p>
				Selection sort can be used on list structures that make add and remove efficient,
				 such as a linked list.
				</p>

			</div>
		</div>
	</div>
</div>

<div class="container-summary-selection_sort my-row row">
	<div id="about" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Advantages</h5>
				</div>
				<p>The main advantage of the selection sort is that it performs well on a small list.
					Furthermore, because it is an in-place sorting algorithm, no additional temporary
					storage is required beyond what is needed to hold the original list.
				</p>
			</div>
		</div>
	</div>
	<div id="the-team" class="height-100 col-md-6 col-sm-6">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Drawbacks</h5>
				</div>
				<p>
					The primary disadvantage of the selection sort is its poor efficiency when dealing with a huge list of items.
					Similar to the bubble sort, the selection sort requires n-squared number of steps for sorting n elements.
				   Additionally, its performance is easily influenced by the initial ordering of the items before the sorting
					process. Because of this, the selection sort is only suitable for a list of few elements that are in random
					order.
				</p>
			</div>
		</div>
	</div>
</div>
