<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = 'styles/bootstrap.min.css' )}}" >
		<link rel="stylesheet" type="text/css" href=" {{ url_for('static' , filename = 'styles/core.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'styles/materialize.css') }}">
		<title>Dats Structures</title>
	</head>
<body class="black-text text-black-darken-5 teal lighten-5">
	<nav id="navi" class="teal lighten-1 card navbar navbar-default">
		<span id="drawer-icon" class="pull-left"><img src=" {{ url_for('static' , filename = 'img/menu.png') }}" alt="Menu"></span>
		<div class="pull-right">
			<img src=" {{ url_for( 'static' , filename = 'img/search.png') }}" id="search-icon" class="nav-icon" alt="Search">
			<!-- <label for="search-box">Search</label>
			<input id="search-box" type="text" length="10"> -->
		</div>
		<div class="teal lighten-1 container container-no-padding text-center">
			<span id="play" class="nav-icon"><img src=" {{ url_for('static' , filename = 'img/play.png') }}"></span>
			<span id="stop" class="nav-icon"><img src=" {{ url_for('static' , filename = 'img/stop.png') }}"></span>
		</div>
	</nav>
	<span id="name4" class="names toast-n teal lighten-1">Play/Proceed</span>
	<span id="name5" class="names toast-n teal lighten-1">Stop/Pause</span>
	<div id="navDrawer" class="teal lighten-4 sidenav">
		<div class="teal lighten-2" id="bio">
			<a id="closeDrawer" href="javascript:void(0)" class="closebtn">&times;</a>
			Data Structures and Algorithms
		</div>
		<a href="#">Home</a>
		<a href="#" id="label-ds" class="">Data Structures</a>
		<ul id="ds" class="expandable-list">
			<li>Stacks</li>
			<li>Queues</li>
			<li>Arrays</li>
			<li>Lists</li>
		</ul>
		<a href="#" id="label-ads" class="">Advanced Data Structures</a>
		<ul id="ads" class="expandable-list">
			<li>Linked Lists</li>
			<li>Priority Queues</li>
			<li>Heaps</li>
			<li>Trees</li>
			<li>Graphs</li>
		</ul>
		<a href="#" id="label-search">Search</a>
		<ul id="search" class="expandable-list">
			<li>Depth First Search</li>
			<li>Breadth First Search</li>
			<li>Uniform Cost Search</li>
			<li>A* Search</li>
		</ul>
		<a href="#" id="label-sort">Sort</a>
		<ul id="sort" class="expandable-list">
			<li>Bubble Sort</li>
			<li>Quick Sort</li>
			<li>Merge Sort</li>
			<li>Insertion Sort</li>
		</ul>
	</div>

	<div id="content" class="container teal lighten-5"></div>

	<span id="fab1" class="faby btn-floating btn-large"><img src=" {{ url_for('static', filename = 'img/timeline.png') }}" alt="Data"></span>
	<span id="name1" class="names toast-n teal lighten-1">Data</span>
	<span id="fab2" class="faby btn-floating btn-large"><img src=" {{ url_for('static' , filename = 'img/movie.png') }}" alt="Simulation"></span>
	<span id="name2" class="names toast-n teal lighten-1">Simulation</span>
	<span id="fab3" class="faby btn-floating btn-large"><img src=" {{ url_for('static' , filename = 'img/book.png') }}" alt="Summary"></span>
	<span id="name3" class="names toast-n teal lighten-1">Summary</span>


		<script type="text/javascript" src=" {{ url_for('static' , filename = 'scripts/jquery.min.js') }}"></script>
		<script type="text/javascript" src=" {{ url_for('static' , filename = 'scripts/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src=" {{ url_for('static' , filename = 'scripts/materialize.min.js') }}"></script>
		<script type="text/javascript" src=" {{ url_for('static' , filename = 'scripts/core.js') }}"></script>

	
</body>
</html>