<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="styles/core.css">
		<link rel="stylesheet" type="text/css" href="styles/materialize.css">
		<script type="text/javascript" src="scripts/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="scripts/materialize.min.js"></script>
		<script type="text/javascript" src="scripts/core.js"></script>
		<title>The Project | Data Structures and Algorithms</title>
		<link rel="icon" type="image/png" href="img/timeline.png">
	</head>
<body class="black-text text-black-darken-5 teal lighten-5">
	<nav id="navi" class="teal lighten-1 card card-4 navbar navbar-default">
		<span id="drawer-icon" class="pull-left"><img src="img/menu.png" alt="Menu"></span>
		<div class="pull-right">
			<img src="img/search.png" id="search-icon" class="nav-icon" alt="Search">
			<!-- <label for="search-box">Search</label>
			<input id="search-box" type="text" length="10"> -->
		</div>
		<div class="teal lighten-1 container container-no-padding text-center">
			<span id="play" class="nav-icon controls"><img src="img/play.png"></span>
			<span id="stop" class="nav-icon controls"><img src="img/stop.png"></span>
		</div>
	</nav>
	<span id="name4" class="names toast-n teal lighten-1">Play/Proceed</span>
	<span id="name5" class="names toast-n teal lighten-1">Stop/Pause</span>
	<div id="navDrawer" class="teal lighten-4 card-4 sidenav">
		<div class="teal lighten-2" id="bio">
			<a id="closeDrawer" href="javascript:void(0)" class="closebtn">&times;</a>
			Data Structures and Algorithms
		</div>
		<a id="the-project" href="#">The Project</a>
		<a href="#" id="label-ds" class="">Data Structures</a>
		<ul id="ds" class="expandable-list">
			<li id="stacks" class="menu-data-item">Stacks</li>
			<li id="queues" class="menu-data-item">Queues</li>
			<li id="arrays" class="menu-data-item">Arrays</li>
			<li id="lists" class="menu-data-item">Lists</li>
		</ul>
		<a href="#" id="label-ads" class="">Advanced Data Structures</a>
		<ul id="ads" class="expandable-list">
			<li id="linked_lists" class="menu-data-item">Linked Lists</li>
			<li id="priority_queues" class="menu-data-item">Priority Queues</li>
			<li id="heaps" class="menu-data-item">Heaps</li>
			<li id="trees" class="menu-data-item">Trees</li>
			<li id="graphs" class="menu-data-item">Graphs</li>
		</ul>
		<a href="#" id="label-search">Search</a>
		<ul id="search" class="expandable-list">
			<li id="depth_first_search" class="menu-data-item">Depth First Search</li>
			<li id="breadth_first_search" class="menu-data-item">Breadth First Search</li>
			<li id="uniform_cost_search" class="menu-data-item">Uniform Cost Search</li>
			<li id="a_star_search" class="menu-data-item">A* Search</li>
		</ul>
		<a href="#" id="label-sort">Sort</a>
		<ul id="sort" class="expandable-list">
			<li id="bubble_sort" class="menu-data-item">Bubble Sort</li>
			<li id="quick_sort" class="menu-data-item">Quick Sort</li>
			<li id="merge_sort" class="menu-data-item">Merge Sort</li>
			<li id="insertion_sort" class="menu-data-item">Insertion Sort</li>
		</ul>
	</div>

	<div id="content" class="container teal lighten-5"></div>

	<span id="fab1" class="faby card-1 btn-floating btn-large"><img src="img/timeline.png" alt="Data"></span>
	<span id="name1" class="names toast-n teal lighten-1">Data</span>
	<span id="fab2" class="faby card-1 btn-floating btn-large"><img src="img/movie.png" alt="Simulation"></span>
	<span id="name2" class="names toast-n teal lighten-1">Simulation</span>
	<span id="fab3" class="faby card-1 btn-floating btn-large"><img src="img/book.png" alt="Summary"></span>
	<span id="name3" class="names toast-n teal lighten-1">Summary</span>
	
</body>
</html>