<!--This jumps straight into a div(#content) with the class .container -->
<div class="my-row row">
	<div id="intro" class="height-100 col-md-4 col-sm-4">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>An Introduction</h5>
				</div>
				<p>
					Data structures and algorithms are two concepts that complement each other when it comes to writing clean, fast, concise, correct and efficient software, and code in general. When using these concepts, it is important to first define and fully layout the problem to enable the programmer choose appropriate Data Structures and Algorithms for the task at hand.
				</p>
			</div>
		</div>
	</div>
	<div id="intro-ds" class="height-100 col-md-4 col-sm-4">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Data Structures</h5>
				</div>
				<p>
					Data Structures are the programmatic way of storing data so that it can be retrieved and used efficiently. Every mature software project uses various types of data structures in one way or the other. Data Structures are therefore about rendering data elements in terms of some relationship, for better organization and storage.
				</p>
			</div>
		</div>
	</div>
	<div id="intro-algorithms" class="height-100 col-md-4 col-sm-4">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Algorithms</h5>
				</div>
				<p>
					An Algorithm is a step-by-step procedure, which defines a set of instructions to be executed
					in a certain order to get the desired output. Algorithms are generally created independent
					of underlying languages, i.e. an algorithm can be implemented in more than one
					programming language. They should be clear, in terms of their function, input and output and should be free of any ambiguity.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="my-row row">
	<div id="about" class="height-100 col-md-4 col-sm-4">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>About this Project</h5>
				</div>
				<p>This project is part of a continuous course assesment for CSC 2100, Introduction to Data Structures and Algorithms and was implemented by Undergraduate Students of Computer Science at Makerere University in Kampala, Uganda.</p>
			</div>
		</div>
	</div>
	<div id="the-team" class="height-100 col-md-4 col-sm-4">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>The Team</h5>
				</div>
				<p>This project was implemented by the following individuals;</p>
				<ul id="names">
					<li><a href="https://github.com/lukyamuziB">Lukyamuzi Ben</a> </li>
					<li><a href="https://github.com/karuhanga">Karuhanga Lincoln</a> </li>
					<li><a href="https://github.com/DonAine">Ainebyoona Don</a> </li>
					<li><a href="https://github.com/mosey">Onyango Moses</a> </li>
					<li><a href="https://github.com/Hxant">Mokili Isaac Janda</a> </li>
					<li><a href="https://github.com/mubangizi">Mubangizi Allan</a> </li>
				</ul>
			</div>
		</div>
	</div>
	<div id="references" class="height-100 col-md-4 col-sm-4">
		<div class="height-80 card card-1 teal lighten-4">
			<div class="card-content">
				<div class="card-title">
					<h5>Project References</h5>
				</div>
				<p>The following sources have been instrumental in the completion of this project:</p>
				<ul id="references">
					<li><a href="https://en.wikipedia.org/wiki/Data_structure">Wikipedia</a></li>
					<li><a href="https://www.tutorialspoint.com/data_structures_algorithms/">Tutorials Point</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>